
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff0050;
  }
  
  .login-container input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    max-width: 300px;
  }
  
  .login-container button {
    padding: 10px 20px;
    background-color: #fff;
    color: #ff0050;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #f1f1f1;
  }
  