<%- include('layouts/layout') %>
<h1>Bienvenue sur notre site de vente de livres</h1>
<p>Découvrez notre collection de livres et trouvez votre prochaine lecture.</p>
<a href="/shop">Visitez notre boutique</a>
